<html>
<head>
  <title>
    Login
    </title>
    <body align="center">
      Login
      <form action="/calculation" method="POST">
        Enter 1st number: <input type="text",name="name"><br><br>
        Enter 2nd number: <input type="text",name="email"><br><br>
        Select Option:<select name="operation">
                      <option value="addition">Addition</option>
                      <option value="substraction">Substraction</option>
                      <option value="multiplication">Multiply</option>
                      <option value="division">Division</option>
                    </select><br>
        <input type="submit" value="submit"/><br><br>
        </form>
      </body>
  </head>
</html>
