<!DOCTYPE html>
<html>
<head>
    <title>calculation</title>
</head>
<body>
    <h2>Calculator</h2>
    <form action = "/simpleinterest" method="POST">
      {{ msg }}
    <table>
        <tr><td>Enter Principle amount</td><td><input type="text" name="principle"></td></tr>
        <tr><td>Enter rate of interest</td><td><input type="text" name="roi"></td></tr>
        <tr><td>Enter perdio</td><td><input type="text" name="period"></td></tr>
        <tr><td><input type="submit" value="calculate simple interest"></td></tr>
    </table><br><br>
